*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #C6CCB2;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(218, 80, 16, 0.3);
    font-size: 8vmin;
    color: aqua;
    background-color: #ffffc7;
}

#res-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
#msg{
    font-size: 8vmin;
    color: #BF4E30;
}
#new-btn{
    padding: .6rem;
    font-size: 1.25rem;
    border-radius: .5rem;
    border: none;
    color: #fff;
    background-color: black;

}
.hide{
    display: none;
}
